<h1>Welcome to Dindr</h1>

<p>Hey <%= @user.first_name %>, <br />
  Thanks for signing up, we love you already!
</p>

<p>
  We promise to always match you with your cravings.<br />
  Now you should go checkout <%= link_to "THE GAME", 'https://arcane-ocean-79595.herokuapp.com/'%>!
</p>

<p>
Happy Dindring!
<br />
Dindr Team
</p>

<p>
Oh and by the way, the whole Dindr Team is looking for new challenges (jobs, tbh). <br />
Take a look at our Bitmaker profiles!<br />

<%= link_to "Ariane", 'https://profiles.bitmaker.co/' %><br />
<%= link_to "Dennis", 'https://profiles.bitmaker.co/' %><br />
<%= link_to "Hou-Tai", 'https://profiles.bitmaker.co/' %><br />
<%= link_to "Kimberly", 'https://profiles.bitmaker.co/' %><br />
<%= link_to "Mike", 'https://profiles.bitmaker.co/' %><br />
</p>
