<h1>Welcome to Dindr!</h1>

<p>Hey <%= @user.first_name %>, <br />
  Thanks for signing up, we love you already!
</p>

<p>
  We promise to always match you with your cravings.<br />
  Now you should go checkout <%= link_to "THE GAME", 'https://dindrdates.herokuapp.com/'%>!
</p>

<p>
Happy Dindring!
<br />
Dindr Team
</p>

<p>
Oh and by the way, the whole Dindr Team is looking for new challenges (jobs, tbh). <br />
Take a look at our Bitmaker profiles!<br />

<%= link_to "Ariane", 'https://profiles.bitmaker.co/students/ariane-deschenes-foucher' %><br />
<%= link_to "Dennis", 'https://profiles.bitmaker.co/students/dennis-choi' %><br />
<%= link_to "Hou-Tai", 'https://profiles.bitmaker.co/students/hou-tai-wong' %><br />
<%= link_to "Kim", 'https://profiles.bitmaker.co/students/kim-oleiro' %><br />
<%= link_to "Mike", 'https://profiles.bitmaker.co/students/mike-thai' %><br />
</p>
