
<div class="cats">

  <% current_user.top_cats.each do |cat| %>
      <table class="cats-list">
      <tr>
        <td>
          <%= cat[0] %>
        </td>
        <td>

          <%= button_tag "Find Restaurants", class:"nearby-restaurants", id:"show-rests-button", data: {cuisinelabel:  "#{@cuisines.find_by(name: cat[0]).label}"}  %>

          <% if @user.profile_pic? == false %>
            <%= link_to "You need a profile pic", edit_user_path(current_user.id) %>
          <% else %>
            <%= button_tag "Find A Date!", class:"dindr-dates", id:"show-date-button", data: {cuisinename: cat[0]} %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<div>
<%= button_tag "Find Restaurants Near Me TEST", class:"nearby-restaurants" %>
</div>
