<div class="container" id="results-page">

    <div class="top-cuis">
      <h1>We've narrowed it down ... </h1>
    </div>


    <!-- List Bullet Cards-->

    <div id="results-card-container">

      <ul id="results-card-set">
      <% current_user.top_cats.each do |cat| %>
        <li class="card">
          <div class='icon'><%= image_tag('udon.png') %></div>
          <h1><%= cat[0] %></h1>
          <p>Mmm Delish!</p>
          <%= button_tag "Find Restaurants", class:"nearby-restaurants", id:"show-rests-button", data: {cuisinelabel:  "#{@cuisines.find_by(name: cat[0]).label}"}  %>

          <!-- <#%= button_to "Find Restaurants", restaurants_path, method: :get, class:"nearby-restaurants", data: {cuisinelabel:  "#{@cuisines.find_by(name: cat[0]).label}"}  %> -->

          <%= button_tag "Find Dindr Date!", class:"dindr-dates", id:"show-date-button", data: {cuisinename: cat[0]} %>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- Reset pictures button -->

    <div id="reset-pics-button" >
      <%= button_to "Play Again", :game, method: :get, id:"play-again-button"%>
    </div>

    <!-- <div class="half-width-container" id="top-cuisines">
      <#%= render 'top3_cuisines' %>
    </div> -->

    <!-- <div class="half-width-container" id="top-tags">
      <#%= render 'tags/top3_tags' %>
    </div> -->


    <div class="result-restaurants" >
    </div>


</div>
