<h1>Others craving <%=@cuis%>!</h1>

<div>
  <% @users.each do |user| %>

  <div>
    <% if user.id == current_user.id %>

    <% else %>

    <div class="dindr-date-info">
      <%= image_tag user.profile_pic.url, class: "dindr-date-pic", data: {datecuisine: "#{@cuis}", acceptuserId: user.id, acceptuserName: user.first_name, currentuserid: current_user.id } %>
      <p>
        <%= user.first_name %>, <%= user.age %>
      </p>
    </div>

    <% end %>
  </div>
  <% end %>

</div>


<div id="dindr-date-profile">
  <%= button_to "See Invitations", invitations_path,  method: :get, id:"see-invitations-button"%>

</div>
