<h1>Others craving <%=@cuis%>!</h1>

<div class="dindr-date-layout">
  <% @users.each do |user| %>

  <div class="dindr-date-box" data-acceptuserName='<%= user.first_name %>'>
    <% if user.id == current_user.id %>

    <% else %>

    <div>
      <em class="dindr-date-info"><%= image_tag user.profile_pic.url, class: "dindr-date-pic", data: {datecuisine: "#{@cuis}", acceptuserId: user.id, acceptuserName: user.first_name, currentuserid: current_user.id } %></em>
      <p data-acceptuserName='<%= user.first_name %>'>
        <%= link_to User.find(user.id).first_name, user_path(user.id), :target => "_blank" %>, <%= user.age %>
      </p>
    </div>


    <% end %>
  </div>
  <% end %>

</div>



<div id="dindr-date-profiles">

  <%= button_to "See Invitations", invitations_path,  method: :get, id:"see-invitations-button"%>

</div>
