<!-- Nav 2 -->

<%= render 'layouts/homepage_navbar' %>

<div class="container" id="profile-page">

  <div id="profile-card-container">
    <ul id="profile-card-set">
      <li id="profile-card">

        <div id='profile-icon'><%= image_tag @user.profile_pic.url%></div>

        <h1><%= @user.first_name %> <%= @user.last_name %></h1>

        <p>Dindr'ing since <%= @user.created_at.to_date.strftime("%B %d, %Y") %></p>

        <p><em>Age:</em> <%= @user.age %></p>
        <p><em>About Me:</em> <%= @user.bio %> Blah blah blah for now</p>

        <p>
          <em>Down to Dindr?</em>

          <div id="down_to_meet">
            <% if @user.profile_pic? == false %>
              You must have a profile picture to change this setting!
            <% elsif @user.down_to_meet == true  %>
              Yes! Let's Eat!
            <% else %>
              Nah, I'm good.
            <% end %>
          </div>

          <% if current_user.id == @user.id && @user.profile_pic? %>
          <div class="toggle-button" data: {useid: current_user.id}>
              <button>

              </button>
          </div>
          <% end %>

        </p>
        <% if current_user.id == @user.id%>
        <%= link_to "Edit Profile", edit_user_path %>
        <%= link_to "Dindr Dates", invitations_path %>
        <%= link_to "Dindr Results", user_cuisines_path %>
        <% end %>
      </li>
    </ul>
  </div>

</div>


<!-- <div class="dates-pending">
<#%= render '/invitations/invitations' %>
</div> -->
