<div class="container" id="profile-page">
  <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

    <li><%= current_user.user_name %></li>
    <%= image_tag current_user.profile_pic.url %>
    <li><%= current_user.bio %></li>



  <li><%= link_to "Edit Profile", edit_user_path %></li>

</div>

<div class="dates-pending">
  <%= render '/invitations/invitations' %>
</div>
