<div class="container" id="profile-page">
  <div class="user-profile">
    <p><h1><%= current_user.first_name %> <%= current_user.last_name %></h1>  <%= link_to "Edit Profile", edit_user_path %></p>


    <%= image_tag current_user.profile_pic.url %>
    <p><em>Username:</em> <%= current_user.user_name %></p>
    <p><em>Email:</em> <%= current_user.email %></p>
    <p><em>Age:</em> <%= current_user.age %></p>
    <p><em>Address:</em> <%= current_user.address %></p>
    <p><em>Phone Number:</em> <%= current_user.phone_number %></p>
    <p>
      <em>Dindr Date:</em>
      <% if current_user.down_to_meet == true %>
      You're open to a Dindr date!
      <% else %>
      You aren't looking to date.
      <% end %>
    </p>
    <p><em>About Me:</em> <%= current_user.bio %></p>
  </div>


  <div class="dates-pending">
    <%= render '/invitations/invitations' %>
  </div>


</div>
