<div class="container" id="profile-page">
  <div class="user-profile">
    <p><h1><%= current_user.first_name %> <%= current_user.last_name %></h1>  <%= link_to "Edit Profile", edit_user_path %></p>


    <%= image_tag current_user.profile_pic.url %>
    <p>Username: <%= current_user.user_name %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Age: <%= current_user.age %></p>
    <p>Address: <%= current_user.address %></p>
    <p>Phone Number: <%= current_user.phone_number %></p>
    <p>
      Dindr Date:
      <% if current_user.down_to_meet == true %>
      You're open to a Dindr date!
      <% else %>
      You aren't looking to date.
      <% end %>
    </p>
    <p>About Me: <%= current_user.bio %></p>
  </div>

  <div class="user-">

  </div>


</div>

<h1>Hey Im pending</h1>
  <div class="dates-pending">
    <%= render '/invitations/invitations' %>
  </div>
