<div class="requests">
  <h2>Who's Invited You:</h2>
    <div class="invitation-card-container">
      <ul class="invitation-card-set">
      <% current_user.accepted_invitations.each do |inv| %>

        <li class="invitation-card" id="invitation-request-card">

          <div class='invitation-icon'><%= image_tag User.find(inv.send_user_id).profile_pic.url %></div>
          <p><%= inv.date %></p>
          <p><%= User.find(inv.send_user_id).first_name %> has invited you for <%= inv.date_cuisine %></p>

          <div class="req-button">
            <% if inv.pending == true %>
            <%= button_tag "Accept", class: "accept_button", data: {invitationid: inv.id} %>
            <% else %>
            <em class="inv-accepted">Accepted!</em>
            <% end %>
            | <%= button_tag "Delete", class: 'delete', data: {invitationid: inv.id} %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
</div>


<div class="pending">
  <h2>Invitations You're waiting on...</h2>
    <div class="invitation-card-container">

      <ul class="invitation-card-set">
      <% current_user.sent_invitations.each do |inv| %>

        <li class="invitation-card" id="invitation-pending-card">

          <div class='invitation-icon'><%= image_tag User.find(inv.accept_user_id).profile_pic.url %></div>
          <p>You invited <%= User.find(inv.accept_user_id).first_name %> for <%= inv.date_cuisine %>!</p>

          <div class="acpt-button">
            <% if inv.pending == true %>
            <em>Hurry I'm hungry...</em>
            <% else %>
            <em class="inv-accepted">Invitation was Accepted!</em>
            <% end %>
          </div>

        </li>
      <% end %>
      </ul>
    </div>
</div>
