<div class="requests">

    <div class="invitation-card-container">
      <ul class="invitation-card-set">
      <% current_user.accepted_invitations.each do |inv| %>

        <li class="invitation-card" id="invitation-request-card">

          <div class='invitation-icon'><%= image_tag User.find(inv.send_user_id).profile_pic.url %></div>
          <p><%= inv.date.strftime("%B %d, %Y")  %></p>

          <p><%= User.find(inv.send_user_id).first_name %> has invited you for <%= inv.date_cuisine %></p>
          <!-- <#%= link_to User.find(inv.accept_user_id).first_name + "'s Profile", user_path(inv.accept_user_id) %> -->

          <div class="request-buttons">
            <% if inv.pending == true %>
            <%= button_tag "Accept", class: "accept-request-button", data: {invitationid: inv.id} %>
            <%= button_tag "Decline", class: 'delete-request-button', data: {invitationid: inv.id} %>
            <% else %>
            <%= button_tag "It's a Date!", class: "invitation-accepted-button"%>
            <!-- <em class="inv-accepted">Accepted!</em> -->
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
</div>

<!--  new button. doesnt have to be a button, just wanted it to look nice -->

<div class="see-pending-invitations">
    <%= button_to "Pending Invitations", invitations_path,  method: :get, id:"see-pending-invitations-button"%>
</div>


<div class="pending">
    <div class="invitation-card-container">

      <ul class="invitation-card-set">
      <% current_user.sent_invitations.each do |inv| %>

        <li class="invitation-card" id="invitation-pending-card">

          <div class='invitation-icon'><%= image_tag User.find(inv.accept_user_id).profile_pic.url %></div>
          <p>You invited <%= User.find(inv.accept_user_id).first_name %> for <%= inv.date_cuisine %>!</p>

          <%= link_to User.find(inv.accept_user_id).first_name + "'s Profile", user_path(inv.accept_user_id) %>

          <div class="acpt-button">
            <% if inv.pending == true %>
            <% else %>
            <!-- <em class="inv-accepted">Invitation was Accepted!</em> -->
            <%= button_tag "Invitation was Accepted!", class: "invitation-accepted-button"%>
            <% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
</div>
