  <% current_user.accepted_invitations.each do |inv|%>
  <li>
  <%= inv.date %> | <%= User.find(inv.send_user_id).first_name %> | <%= inv.date_cuisine %>

  <%= button_tag "Accept Date?", class: "accept_button", data: {invitationid: inv.id} %> ||| <%= button_tag "Delete this BITch", class: 'delete', data: {invitationid: inv.id} %>
</li>

  <% end %>
