<div class="invitation-pending-container">

  <h1> Who You're Waiting to Hear from: </h1>

  <div class="invitation-pending-list">
        <ul>
        <% current_user.sent_invitations.each do |inv| %>

          <li class="invitation-pending">

            <div class='invitation-pending-pic'>
              <%= image_tag User.find(inv.accept_user_id).profile_pic.url, class: "invitation-pending-profile-pic" %></div>

            <div class="invitation-info">
            <p>You invited <%= User.find(inv.accept_user_id).first_name %> for <%= inv.date_cuisine %>!</p>

            <%= link_to User.find(inv.accept_user_id).first_name + "'s Profile", user_path(inv.accept_user_id) %>

            <div class="acpt-button">
              <% if inv.pending == true %>
              <% else %>
              <!-- <em class="inv-accepted">Invitation was Accepted!</em> -->
              <%= button_tag "Invitation was Accepted!", class: "invitation-accepted-button"%>
              <% end %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
  </div>

</div>
