<!-- Header Image -->

<div class="image-gradient-dynamic">
  <%= image_tag('dindr-header-v2.png') %>
  <!-- Navigation Arrow 1 -->
  <div class="arrow-box-1">
    <div class="hvr-bob">
      <div id="arrow-1"></div>
    </div>
  </div>

</div>

<div class="container" id="home-page">

<!-- List Bullet Cards-->

<div id="card-container">
  <ul id="card-set">
    <li class="card">
      <div class='icon'><%= image_tag('dindr-little-d.png') %></div>
      <h1>Step 1: Sign up with Dindr</h1>
      <p>Register for an account with us so we can treat you to the full Dindr experience. </p>
      <%= link_to "click here to sign up", new_user_path %>
    </li>
    <li class="card">
      <div class='icon'><%= image_tag('udon.png') %></div>
      <h1>Step 2: Click your faves </h1>
      <p>You will be shown pictures of tasty dishes. Simply select the ones that look the most delicious to you.</p>
      <!-- <a href="#">View more</a> -->
    </li>
    <li class="card">
      <div class='icon'><%= image_tag('man-sitting-in-front-of-a-table-eating-and-drinking-while-having-lunch.png') %> </div>
      <h1>Step 3: Find your place and dates! </h1>
      <p>Find out exactly what you want to eat, where you can eat it, and <em>who </em>to eat it with :) </p>
      <!-- <a href="#">View more</a> -->
    </li>
  </ul>
</div>

<!-- Navigation Arrow 2 -->
<div class="arrow-box-2">
  <div class="hvr-bob">
    <div id="arrow-2"></div>
  </div>
</div>


<!-- SNAPWIDGET -->
  <div id="homepage-widget">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/177224" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
  </div>

<!-- Click here to Dindr button -->


  <div id="homepage-button">
    <% if current_user %>
      <span id="button">
        <form class="button" action="/game" method="get">
          <button id="click-here-to-dindr" type="submit">Click Here to DINDR!</button>
        </form>
      </span>
    <% else %>
      <span id="button">
        <button id="click-here-to-dindr" class="modal-trigger">Click Here to DINDR!</button>
      </span>
    <% end %>
  </div>
</div>
