<%= render 'layouts/burgerbar' %>

<!-- Header Image -->

<div class="image-gradient-dynamic">
  <%= image_tag('dindr-header-v2.png') %>
</div>

<div class="container" id="home-page">
<!-- List Bullet -->

  <div id="bullets">
    <div class="bullets">
      <div class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <%= image_tag('dindr-little-d.png') %>
        </div>
        <div class="bullet-content">
          <h2>Step 1:</h2>
          <p>Sign up with Dindr!</p>
          </div>
      </div>
      <div class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <%= image_tag('udon.png') %>
        </div>
        <div class="bullet-content">
          <h2>Step 2:</h2>
          <p>You will be shown lots of pictures of tasty dishes. Click the dish in each set of 3 that looks most delicious to you.<p>
        </div>
      </div>
      <div class="bullet">
        <div class="bullet-icon bullet-icon-3">
          <%= image_tag('man-sitting-in-front-of-a-table-eating-and-drinking-while-having-lunch.png') %>        </div>
        <div class="bullet-content">
          <h2>Step 3: </h2>
          <p>Find out exactly what you want to eat and where you can find it nearby!</p>
        </div>
      </div>
    </div>
  </div>
<!--
  <div id="homepage-thumbnails">
    <% @pictures.each do |picture| %>
    <%= image_tag picture.content.thumb.url %>
    <% end %>
  </div> -->

<!-- SNAPWIDGET -->
  <div id="homepage-widget">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/177224" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
  </div>

  <div id="homepage-button">
    <form class="button" action="/game" method="get">
      <% if current_user %>
        <input type="submit" value="Click Here to DINDR!">
      <% else %>
        <div class="modal modal-trigger">
          <button id="open-sign-in" class="button">Click Here to DINDR! </button>
        </div>
      <% end %>
    </form>
  </div>


</div>
