<h1>Game</h1>

<p>You hungry? Let's play!</p>

<div class="next-button">
  <input type="button" id="next-button" value="Keep Playing!">
</div>

<div class="first-set">
  <table>
    <tr>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture1" id="rand-1" value="false">
          <%= image_tag(@picture1.url, :class => "food-1 dislike" ) %>
        </form>
      </td>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture2" id="rand-2" value="false">
          <%= image_tag(@picture2.url, :class => "food-2 dislike") %>
        </form>
      </td>
      <td class="randomized-dish">
        <li class="buttons" id="like-button3">| <3 |</li>
        <li class="buttons" id="dislike-button3">| X |</li>
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture3" id="rand-3" value="false">
          <%= image_tag(@picture3.url, :class => "food-3 dislike") %>
        </form>
      </td>
    </tr>
  </table>
</div>

<div class="second-set">
  <table>
    <tr>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture1" id="rand-1" value="false">
          <%= image_tag(@picture1.url, :class => "food-1 dislike") %>
        </form>
      </td>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture2" id="rand-2" value="false">
          <%= image_tag(@picture2.url, :class => "food-2 dislike") %>
        </form>
      </td>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture3" id="rand-3" value="false">
          <%= image_tag(@picture3.url, :class => "food-3 dislike") %>
        </form>
      </td>
    </tr>
  </table>
</div>


<div class="third-set">
  <table>
    <tr>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture1" id="rand-1" value="false">
          <%= image_tag(@picture1.url, :class => "food-1 dislike") %>
        </form>
      </td>
      <td class="randomized-dish">
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture2" id="rand-2" value="false">
          <%= image_tag(@picture2.url, :class => "food-2 dislike") %>
        </form>
      </td>
      <td class="randomized-dish">
        <li class="buttons" id="like-button3">| <3 |</li>
        <li class="buttons" id="dislike-button3">| X |</li>
        <form class="food-picture-form" action="index.html" method="post">
          <input type="hidden" name="picture3" id="rand-3" value="false">
          <%= image_tag(@picture3.url, :class => "food-3 dislike") %>
        </form>
      </td>
    </tr>
  </table>
</div>
