<h1>Top Restaurants you might fancy...</h1>

<div id="map" data-lat=<%= current_user.latitude %> data-lon=<%= current_user.longitude %>>
</div>

<div class="yelp-results">
  <% @restaurant_list.each do |name, url, latitude, longitude, rating, address| %>
  <div class="each-rest" data-latitude=<%= latitude %> data-longitude=<%= longitude %> data-name="<%= name %>" >
    <ul>

      <li class="rest-name">
        <%= link_to "#{name}", url %>
      </li>

      <li class="rest-rating">
        <%= rating %> / 5
      </li>

      <li class="rest-distance">
        Only <%= current_user.distance_to([latitude, longitude], :km).round(2) %> kms away!
      </li>

      <li class="rest-location">
        Located at:
        <% address.each do |field| %>
            <%= field %>
        <% end %>

      </li>

   </ul>
 </div>
  <% end %>
</div>
