<div class="navigation">
  <div class='hamburger'>
    <div class='menu-trigger'>
      <span id='burger'>Menu</span>
    </div>
  </div>

  <div id="nav-box">
    <% if current_user %>
      <ul id="nav-box-list">
        <li class="nav-box-list-items"><%= link_to "profile", user_path(current_user) %></li>
        <li class="nav-box-list-items"><%= link_to "game", game_path%></li>
        <li class="nav-box-list-items"><%= link_to "dindr dates", invitations_path%></li>
        <li class="nav-box-list-items"><%= link_to "results", user_cuisines_path%></li>
        <li class="nav-box-list-items"><%= link_to "logout", :logout, method: :delete %></li>
          <% if current_user.admin? %>
        </br><li class="nav-box-list-items"><%= link_to "all pictures", admin_pictures_path %></li>
          <% end %>
    <% else %>
      <li class="nav-box-list-items"><%= link_to "sign up", new_user_path %></li>
      <li class="nav-box-list-items"> <%= link_to "login", 'javascript:;', class: 'modal-trigger' %>
    <% end %>
    </ul>
  </div>
</div>
