<!-- This is the navbar for all the pages aside from the homepage. -->

<div id="nav-3">
  <ul class="nav">
    <!-- <li class="nav-item"><%= link_to "home", root_path %></li> -->
    <% if current_user %>
    <li class="nav-item"><%= link_to "profile", user_path(current_user) %></li>

    <li class="nav-item"><%= link_to "DindrResults", user_cuisines_path %></li>
    <li class="nav-item"><%= link_to "DindrDates", invitations_path %></li>
    <li class="nav-item"><%= link_to "log out", :logout, method: :delete %></li>
    <% end %>
  </ul>
</div>
