<!DOCTYPE html>
<html>
<head>
  <title>Dindr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="dindr-navbar">
    <div id="home-button">
      <%= link_to image_tag('kirby.jpg'), root_url %>
    </div>

    <ul id="nav-login">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to "List of All Pictures", admins_path %><%= link_to "Your Profile", user_path(current_user) %> <%= link_to "Logout", :logout, method: :delete%></li>
        <% else %>
          <li><%= link_to "Your Profile", user_path(current_user) %> <%= link_to "Logout", :logout, method: :delete%></li>
        <% end %>
      <% else %>
        <li>
          <div class="modal">
            <label for="modal-1">
              <div class="modal-trigger">Sign In</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <h1>Sign in</h1>
                <p class="modal-intro">Welcome Back</p>
                <p class="modal-content">
                <%= form_tag create_path, :method => :post do %>
                <div class="field">
                  <%= label_tag :email %>
                  <%= text_field_tag :email %>
                </div>
                <div class="field">
                  <%= label_tag :password %>
                  <%= password_field_tag :password %>
                </div>
                <div class="action">
                  <%= submit_tag :Submit %>
                </div>
              </p>
            </div>
          </div>
        </li>
        <li><%= link_to "Sign Up", new_user_path %></li>

                  <% end %>
        </div>
      <% end %>
    </ul>
  </nav>


<%= yield %>

</body>

<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->


<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/49db8c0f2f8066c2c3a275781503fe3303a1a9fc/source/images/placeholder.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>

</html>
