<!DOCTYPE html>
<html>
<head>
  <title>Dindr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="dindr-navbar">
    <div id="home-button">
      <%= link_to image_tag('kirby.jpg'), root_url %>
    </div>

    <ul id="nav-login">
      <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to "List of All Pictures", admins_path %><%= link_to "Your Profile", user_path(current_user) %> <%= link_to "Logout", :logout, method: :delete%></li>
        <% else %>
          <li><%= link_to "Your Profile", user_path(current_user) %> <%= link_to "Logout", :logout, method: :delete%></li>
        <% end %>
      <% else %>
        <li><%= link_to "Login", :login %> <%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </nav>


<%= yield %>

</body>

<footer id="dindr-footer">
  Copyright 2016
</footer>

</html>
