<!DOCTYPE html>
<html>
<head>
  <title>Dindr</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'homes' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/burger' %>
  <%= render 'layouts/homepage_navbar' %>
  <%= render 'layouts/modal' %>
<%= yield %>
  <%= render 'layouts/footer' %>
</body>



</html>
